*{
    margin: 0 auto;
    padding: 0

}

body{
    background-image: url("../img/pattern.jpg");
}


/* Navbar Style Start */
.navbar{
    position: fixed;
    width: 100%;
    height: 60px;   
    background-color: white;
    z-index: 1;
}

.navbar img{
    float: left;
}

.navbar nav{
    float: right;
    position: relative;
    right: 50px; 
    top: 15px;
}
.navbar nav a{
    float: left;
    padding-left: 50px;
    text-decoration: none;
    list-style: none;
    color: blue;
    font-size: 18px;
    font-family: arial;
    font-weight: bold;
}
/* Navbar style end */







/* Section style start */

.section{
    background-color: white;
    width: 800px;
    position: absolute;
    margin-top: 50px;
    right: 0px;
    left: 0px;
    padding: 0px 15px 0px 15px;
    
}

.section h1{
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.section hr{
    margin: 10px 0px 50px 0px;
}

#article-list h3{
    margin-bottom: 15px;   
}

#article-list a{
    text-decoration: none;
}
/* Section style end */










/* Footer Style Start */
.footer{
    clear: both;
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 15px;
    z-index: 2;
    margin: 0;
    padding: 0;
    bottom: -300;
    
}

.footer h5{
    margin-top: 10px;
}


/* Footer Style End */



